project:
  type: book
  output-dir: docs/

toc: true
number-sections: true

book:
  title: "Introduction to Ancient Metagenomics"
  author: "James A Fellows Yates and Christina Warinner"
  date: "15/04/2024"
  chapters:
    - index.qmd
    - citing-this-book.qmd
    - authors.qmd
    - acknowledgements.qmd
    - before-you-start.qmd
    - part: section-theory.qmd
      chapters:
        - introduction-to-ngs-sequencing.qmd
        - introduction-to-ancient-dna.qmd
        - introduction-to-metagenomics.qmd
        - introduction-to-microbial-genomics.qmd
        - introduction-to-evolutionary-biology.qmd
    - part: section-useful-skills.qmd
      chapters:
        - bare-bones-bash.qmd
        - r-tidyverse.qmd
        - python-pandas.qmd
        - git-github.qmd
    - part: section-ancient-metagenomics.qmd
      chapters:
        - taxonomic-profiling.qmd
        - functional-profiling.qmd
        - denovo-assembly.qmd
        - authentication-decontamination.qmd
    - part: section-ancient-genomics.qmd
      chapters:
        - genome-mapping.qmd
        - phylogenomics.qmd
    - part: section-ancient-metagenomic-resources.qmd
      chapters:
        - accessing-ancient-metagenomic-data.qmd
        - ancient-metagenomic-pipelines.qmd
    - part: appendices.qmd
      chapters:
        - resources.qmd
        - tools.qmd
        - chapter-template.qmd
      #- references.qmd
  license: "CC-BY 4.0"
  cover-image: "assets/images/cover.png"
  page-footer: "© 2023 SPAAM Community & Authors with ❤️. Available under [CC-BY 4.0](http://creativecommons.org/licenses/by-sa/4.0/). Source material [here](https://github.com/SPAAM-community/intro-to-ancient-metagenomics-book)."
  site-url: https://spaam-community.github.org/intro-to-ancient-metagenomics-book
  favicon: favicon.png
  open-graph: true
  reader-mode: true

format:
  html:
    theme:
      - cosmo
      - assets/css/custom.scss
    cover-image: assets/images/cover.png
  # pdf:
  #   documentclass: scrreprt
